* {
    box-sizing: border-box;
}
form {
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
}
head {
    text-align: center;
}
body {
    background-color: #3f77cea8;
    color: white;
    font-family: "Arial", "Source Code Pro", Monaco, monospace;
    line-height: 200%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main {
    display: flex;
    flex-direction: column;
}
form {
    background-color: #1c1c1c;
    align-content: center;
}

iframe {
    border: none;
}
#to-do-form {
    line-height: 100%;
    vertical-align: center;
}

button, input[type=submit] {
    color: black;
    background-color: chocolate;
    border: 1px solid yellow;
}
button:hover {
    color: blueviolet;
}